<!DOCTYPE html>
<head>
  <title>Activity since {{ since|datetime("%Y-%m-%d") }}</title>
  <style>
  body {
    font-family: sans-serif;
    max-width: 60em;
    margin: auto;
  }
  ul {
    padding-left: 1em;
  }
  ul.issue {
    padding-left: 0em;
    list-style-type: none;
    margin-bottom: 1em;
  }
  ul.issue > li {
    margin: .5em 0;
  }
  ul.issue p {
    margin: .2em 0 0 3em;
  }
  ul.comment {
    padding-left: 4em;
  }
  .icon {
    display: inline-block;
    width: 1em;
    color: #ccc;
  }
  .icon.created, .icon.closed, .icon.merged {
    color: black;
    cursor: default;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .label {
    padding: .2em .5em .1em .5em;
    border-radius: 2em;
    font-size: 75%;
    opacity: .75;
    vertical-align: middle;
  }
  .homerepo {
    color: #888;
  }
  </style>
<body>
<h1>Activity since {{ since|datetime("%Y-%m-%d") }}</h1>
<ul class="repo">
  {% for thing, issues in results -%}
    <li>
      <b><a href="{{ thing.url }}">
      {%- if thing.container_kind == "repo" -%}
        {{ thing.nameWithOwner }}
      {%- elif thing.container_kind == "project" -%}
        {{ thing.title }}
      {%- endif -%}
      </a></b>
      {{ thing.container_kind }} {{ thing.kind }}
      <ul class="issue">
        {% for issue in issues -%}
          <li class="{{ issue.state|lower }}">

            {%- if issue.reasonCreated -%}
              <span class="icon created" title="newly created">&Star;</span>
            {%- else -%}
              <span class="icon">&ndash;</span>
            {%- endif -%}
            {% if issue.reasonMerged -%}
              <span class="icon merged" title="newly merged">&#x2713;</span>
            {%- elif issue.reasonClosed -%}
            <span class="icon closed" title="newly closed">&times;</span>
            {%- else -%}
              <span class="icon">&ndash;</span>
            {%- endif -%}

            <a href="{{ issue.url }}"><b>{{issue.title}}</b> #{{ issue.number }}</a>
            [<a href="{{ issue.author.url }}">{{ issue.author.login }}</a>]

            {% if issue.labels -%}
              {%- for label in issue.labels.nodes -%}
                <span class="label" style="background: #{{label.color}}; color: {{label.color|textcolor}}">{{ label.name }}</span>
              {%- endfor -%}
            {%- endif -%}

            {% if issue.other_repo -%}
              <span class="homerepo">{{ issue.repository.nameWithOwner }}</span>
            {%- endif %}

            {%- if issue.body %}<p>{{ issue.body|truncate(120) }}</p>{% endif -%}

            {% if issue.comments_to_show -%}
              <ul class="comment">
                {% for comment in issue.comments_to_show -%}
                  <li>
                    {# <img src="{{comment.author.avatarUrl}}&size=20"/> #}
                    <a href="{{ comment.url }}">{{ comment.updatedAt|datetime() }}</a>
                    [<a href="{{ comment.author.url }}">{{ comment.author.login }}</a>]
                    {{ comment.body|trim|truncate(120) }}
                    {%- if comment.review_state -%}
                      <i>(review: {{ comment.review_state|lower|replace("_", " ") }})</i>
                    {% endif -%}
                  </li>
                {% endfor -%}
              </ul>
            {% endif -%}

          </li>
        {% endfor -%}
      </ul>
    </li>
  {% endfor -%}
</ul>
